body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.body{
  padding: 25px;
}
.container{
  min-width: 400px;
}
.paper{
  padding:25px;
  margin-left: auto;
  padding-left: 15px;
  padding-right:15px;
  margin-right: auto;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card{
  font-family: monospace;
  background-color: lightgray;
  padding:15px;
  display: flex;
  align-items:flex-start;
  flex-direction: row;
  justify-content: space-around;
}
